@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* PROJET INTERGICIEL */

:root {
  --primary-color: hsl(214, 56%, 58%);
  --backgroud-color: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 98%);

  --ff-poppins: "Poppins";
  --ff-abril: "Abril Fatface", sans-serif;
}

/* RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--backgroud-color);
  font-family: var(--ff-poppins);
  color: var(--white);
}

li {
  list-style: none;
}

.container {
  padding-inline: 5rem;
}

/* BLOCK TO IMPORT XML */

.container .import {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.container .import h1,
.title {
  font-family: var(--ff-abril);
  text-transform: uppercase;
  margin-block: 0.5rem;
}

.container .import p {
  margin-bottom: 1rem;
}

.dropzone {
  margin-top: 1rem;
}

/* CARD DESIGN */

.container.mt-5 {
  padding-top: 2rem;
}

.card {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card-title {
  font-family: var(--ff-abril);
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
}

.card-body li {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
}

.card-grd-title {
  font-family: var(--ff-abril);
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0;
}

@media (max-width: 512px) {
  .container.mt-5,
  .container {
    padding: 1rem;
  }

  .card {
    padding: 1rem;
  }
}
